@import "../../styles/variables.scss";

.mobileSubmenu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Roboto", Arial;
  list-style-type: none;
  list-style: none;
  margin-bottom: 1rem;
  overflow-y: scroll;
  padding-left: 0px;

  &__item > a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  &__item {
    color: white;
    border: 1px solid black;
    text-align: center;
    background-color: $color--primary;
    width: 50%;
    height: 5rem;
    display: inline-block;

    &--header {
      font-weight: 700;
      opacity: 1;
      margin-top: 1rem;
    }
  }

  &__item:last-child {
    width: 100%;
    background-color: white;
    color: black;
  }
}

.submenu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Roboto", Arial;
  list-style-type: none;
  list-style: none;
  margin-bottom: 1rem;

  &__item {
    color: white;
    opacity: 0.7;
    margin-bottom: 0.5rem;

    &--body {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 1rem;
      font-weight: 300;
      font-family: "Roboto", Arial;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;

      &:hover {
        color: $color__primary;
        padding-left: 0.8rem;
        opacity: 1;
      }
    }

    &--header {
      font-weight: 700;
      opacity: 1;
      margin-top: 1rem;
    }
  }
}

.navigation {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0px;

  &__menu {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &__mobileSubmenu {
    width: 100%;
    min-height: 3rem;
    margin-top: -1.5rem;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

    &--active {
    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
      height: 0px;
      margin-top: -1.5rem;
    }
  }

  &__submenu {
    width: 100%;
    min-height: 3rem;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 0rem;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;

    &--hidden {
      opacity: 0;
      visibility: hidden;
      height: 0px;
      margin-top: -1.5rem;
    }
  }

  &__container {
    margin: 0;
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    padding-left: 0px;
  }

  &__element {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &--special {
      border: 2px solid $color__primary;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      
      &:hover {
        background-color: $color__primary
      }

    }

  }

  &__element--group {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: white;
    text-decoration: none;
    font-family: "Roboto", Arial;
    width: 100%;
  }

  &__elementContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--phone {
      transition: all 0.3s;

      &:hover {
        & > .navigation__link {
        }
      }

      & > .navigation__link {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        font-weight: 500;
      }
    }
  }

  &__underline {
    width: 100%;
  }

  &__image {
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
  }
}
