@keyframes fadeIn {
  from {
    opacity: 0;
    
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-1rem, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes angleClip {
  0% {
    -ms-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%, 0 0);
  }

  

  100% {
    -ms-clip-path: polygon(100% 0, 100% 90%, 19% 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 90%, 19% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 90%, 19% 100%, 0 100%, 0 0);
  }
}

.angleClip {
  animation-name: angleClip;
  -webkit-animation-name: angleClip;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  -webkit-transition-timing-function: cubic-bezier(0, -0.9, 0, 1.01);
  -moz-transition-timing-function: cubic-bezier(0, -0.9, 0, 1.01);
  -o-transition-timing-function: cubic-bezier(0, -0.9, 0, 1.01);
  transition-timing-function: cubic-bezier(0, -0.9, 0, 1.01);
}
